# .dockerignore
.git
.github

.venv
__pycache__
*.pyc
*.pyo
*.pyd

.vscode
.idea

frontend/node_modules
frontend/.next
node_modules
.next

.env
*.log

backend/logs
backend/catboost_info
backend/dataset/processed