# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/
*.egg-info/
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project data (ignore toàn bộ nội dung bên trong)
backend/dataset/
backend/models/
backend/reports/
backend/database/
backend/logs/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# frontend generated
frontend/.next/
frontend/node_modules/
frontend/next-env.d.ts
frontend/tsconfig.tsbuildinfo

# backend generated
backend/catboost_info/